@font-face {
  font-family: "Mons";
  src: url(../font/Montserrat/static/Montserrat-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Mons", serif;
  scroll-behavior: smooth;
}

* body #root {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

* body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 40px;
}

@media screen and (max-width: 1025px) {
  * body .header {
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
  }
}

@media screen and (max-width: 376px) {
  * body .header {
    padding: 10px 20px;
  }
}

* body .header .header_logo {
  width: 100px;
  height: 67px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

* body .header .header_logo svg {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1025px) {
  * body .header nav {
    display: none;
  }
}

* body .header nav a {
  margin: 0 20px;
  color: #000000;
}

@media screen and (max-width: 1025px) {
  * body .header nav.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    background: #0049ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 2;
    -webkit-animation: fade_left 0.7s linear forwards;
            animation: fade_left 0.7s linear forwards;
  }
  @-webkit-keyframes fade_left {
    0% {
      top: -150vh;
    }
    50% {
      top: -50vh;
    }
    100% {
      top: 0;
    }
  }
  @keyframes fade_left {
    0% {
      top: -150vh;
    }
    50% {
      top: -50vh;
    }
    100% {
      top: 0;
    }
  }
  * body .header nav.active a {
    color: #fff;
    font-size: 25px;
    margin: 10px 0;
  }
}

@media screen and (max-width: 376px) {
  * body .header nav.active a {
    color: #fff;
    font-size: 25px;
    margin: 5px 0;
  }
}

* body .header .header_d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .header .header_d_flex .header_contact {
  width: 50px;
  height: 30px;
}

@media screen and (max-width: 1025px) {
  * body .header .header_d_flex .header_contact {
    display: none;
  }
}

* body .header .header_d_flex .header_contact svg {
  width: 100%;
  height: 100%;
}

* body .header .header_d_flex .lang_select {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 1025px) {
  * body .header .header_d_flex .lang_select {
    right: 20px;
  }
}

@media screen and (max-width: 420px) {
  * body .header .header_d_flex .lang_select {
    right: 45px;
    width: 70px;
  }
}

* body .header .header_d_flex .lang_select .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 100px;
  height: 30px;
  border: 1px solid #004d51;
  padding: 10px;
  margin: 3px;
}

@media screen and (max-width: 420px) {
  * body .header .header_d_flex .lang_select .language {
    width: 70px;
  }
}

* body .header .header_d_flex .lang_select .selected_lang {
  margin: 0 3px;
}

* body .header .header_d_flex .lang_select .select_custome {
  position: absolute;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0;
  pointer-events: none;
  background: #fff;
  -webkit-transition: 100ms ease;
  transition: 100ms ease;
}

* body .header .header_d_flex .lang_select .select_custome.active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  pointer-events: auto;
}

* body .header .header_menu_btn {
  display: none;
}

@media screen and (max-width: 1025px) {
  * body .header .header_menu_btn {
    display: block;
    position: absolute;
    top: 32px;
    z-index: 3;
    right: 20px;
    width: 30px;
    height: 20px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  * body .header .header_menu_btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
    border-radius: 20px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-box-shadow: 0 9px 0 0px #000;
            box-shadow: 0 9px 0 0px #000;
  }
  * body .header .header_menu_btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    background: #000;
    border-radius: 20px;
  }
}

@media screen and (max-width: 1025px) {
  * body .header .header_menu_btn.active::after {
    background: #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 18px;
  }
  * body .header .header_menu_btn.active::before {
    background: #fff;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

* body .header.active {
  margin-top: 50vh;
}

* body .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 40px;
  gap: 30px;
}

@media screen and (max-width: 1025px) {
  * body .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 376px) {
  * body .intro {
    padding: 10px 20px;
  }
}

* body .intro .intro_title {
  width: 50%;
}

@media screen and (max-width: 1025px) {
  * body .intro .intro_title {
    width: 100%;
  }
}

* body .intro .intro_title h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

@media screen and (max-width: 426px) {
  * body .intro .intro_title h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 376px) {
  * body .intro .intro_title h1 {
    font-size: 35px;
  }
}

* body .intro .intro_title p {
  font-size: 22px;
  color: #8a8a8a;
  margin-bottom: 10px;
}

@media screen and (max-width: 426px) {
  * body .intro .intro_title p {
    font-size: 25px;
  }
}

@media screen and (max-width: 376px) {
  * body .intro .intro_title p {
    font-size: 20px;
  }
}

* body .intro .intro_title a button {
  padding: 10px 30px;
  background: #0049ff;
  border-radius: 30px;
  border: 1px solid #0049ff;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

@media screen and (max-width: 426px) {
  * body .intro .intro_title a button {
    font-size: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 376px) {
  * body .intro .intro_title a button {
    font-size: 20px;
    width: 100%;
  }
}

* body .intro .intro_title .intro_icons {
  margin-top: 40px;
}

* body .intro .intro_title .intro_icons a {
  font-size: 20px;
  width: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 50px;
  border: 1px solid #004d51;
  border-radius: 50%;
  color: #004d51;
  margin: 0 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .intro .intro_logo {
  width: 50%;
}

@media screen and (max-width: 1025px) {
  * body .intro .intro_logo {
    width: 70%;
  }
}

@media screen and (max-width: 769px) {
  * body .intro .intro_logo {
    width: 100%;
  }
}

@media screen and (max-width: 376px) {
  * body .intro .intro_logo {
    width: 100%;
  }
}

* body .intro .intro_logo img {
  width: 100%;
  border-radius: 20px;
}

* body .about {
  padding: 10px 40px;
}

@media screen and (max-width: 376px) {
  * body .about {
    padding: 10px 20px;
  }
}

* body .about h1 {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  color: #000000;
  margin-bottom: 15px;
}

@media screen and (max-width: 426px) {
  * body .about h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 376px) {
  * body .about h1 {
    font-size: 35px;
  }
}

* body .about p {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width: 426px) {
  * body .about p {
    font-size: 25px;
  }
}

@media screen and (max-width: 376px) {
  * body .about p {
    font-size: 20px;
  }
}

* body .skills {
  padding: 10px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

@media screen and (max-width: 1300px) {
  * body .skills {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 376px) {
  * body .skills {
    padding: 10px 20px;
  }
}

* body .skills .skills_card {
  width: 350px;
  border: 1px solid #e0e3e7;
  border-radius: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 4px 4px 14px 10px rgba(224, 227, 231, 0.32);
  box-shadow: 4px 4px 14px 10px rgba(224, 227, 231, 0.32);
}

* body .skills .skills_card .skills_percent {
  position: relative;
}

* body .skills .skills_card .skills_percent .skills_icon {
  position: absolute;
  inset: 5px;
  z-index: 1;
  opacity: 0.1;
  top: 30px;
  font-size: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: circle-chart-appear 2s forwards;
          animation: circle-chart-appear 2s forwards;
  -webkit-transform: translateY(0.3em);
          transform: translateY(0.3em);
}

* body .skills .skills_card .skills_percent section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

* body .skills .skills_card .skills_percent section svg {
  z-index: 10;
}

@-webkit-keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@-webkit-keyframes circle-chart-appear {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

* body .skills .skills_card .skills_percent section .circle-chart__circle {
  animation: circle-chart-fill 2s reverse;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

* body .skills .skills_card .skills_percent section .circle-chart__circle--negative {
  -webkit-transform: rotate(-90deg) scale(1, -1);
          transform: rotate(-90deg) scale(1, -1);
}

* body .skills .skills_card .skills_percent section .circle-chart__info {
  -webkit-animation: circle-chart-appear 2s forwards;
          animation: circle-chart-appear 2s forwards;
  opacity: 0;
  -webkit-transform: translateY(0.3em);
          transform: translateY(0.3em);
}

* body .portfolio {
  padding: 10px 40px;
}

* body .portfolio > h1 {
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 426px) {
  * body .portfolio > h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 376px) {
  * body .portfolio > h1 {
    font-size: 35px;
  }
}

* body .portfolio .d_flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

@media screen and (max-width: 1300px) {
  * body .portfolio .d_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

* body .portfolio .portfolio_card {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid #0049ff7a;
  border-radius: 20px;
  overflow: hidden;
}

* body .portfolio .portfolio_card:hover .after {
  top: 0;
}

* body .portfolio .portfolio_card:hover .portfolio_logo {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

* body .portfolio .portfolio_card .portfolio_logo {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

* body .portfolio .portfolio_card .portfolio_logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

* body .portfolio .portfolio_card .after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  font-size: 30px;
  color: #fff;
  text-transform: capitalize;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0049ff7a;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

* body .footer {
  padding: 50px;
  color: #fff;
  background: #24292f;
  text-align: center;
}

@media screen and (max-width: 376px) {
  * body .footer {
    padding: 30px;
  }
}

* body .footer .footer_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin: 20px 20px;
}

@media screen and (max-width: 321px) {
  * body .footer .footer_icons {
    gap: 20px;
  }
}

* body .footer .footer_icons a {
  color: #fff;
  fill: #fff;
}

* body .footer .footer_icons a svg {
  width: 22px;
  height: 22px;
}
/*# sourceMappingURL=styles.css.map */